<style>
    .form-body {
        background-color: lightblue;
    }
</style>


<div class="ui container">
    <form class="ui large form segment form-body">
        <h3 class="ui header">Add a Link</h3>
        <div class="field">
            <label for="title">Title:</label>
            <input name="title" #newtitle>
        </div>
        <div class="field">
            <label for="link">Link:</label>
            <input name="link" #newlink>
        </div>
        <div class="field">
            <button (click)="addArticle(newtitle, newlink)" class="ui positive right button">Submit link</button>
        </div>
    </form>
    <my-article class="row"></my-article>
</div>