

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h1 style="background-color:red">Hello,Nancy</h1>
        @DateTime.Now
    </div>
</body>
</html>
