<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="5.0.2" targetFramework="net45" />
  <package id="Dragablz" version="0.0.1.108" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.1.2.0" targetFramework="net45" />
  <package id="Simple.Data.Ado" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Core" version="0.19.0.0" targetFramework="net45" />
  <package id="Simple.Data.Sqlite" version="0.18.3.2" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.96.0" targetFramework="net45" />
</packages>