@{
    ViewBag.Title = "关于";
}

<h1>Cozy</h1>
<h2>简介：</h2>
<p><b>这是一个用于学习C＃的开源项目 &amp;&amp; 做点东西玩玩</b></p>
<h2>源码结构</h2>
<blockquote>
    <p>
        Learn - 学习工程目录
    </p>
    <blockquote>
        <p>
            Cozy - 命令行版c＃学习工程
        </p>
        <blockquote>
            <p>
                LearnCSharp
            </p>
            <blockquote>
                <p>
                    A  - 核心C#<br />
                    B  - 对象和类型<br />
                    C  - 继承<br />
                    D  - 泛型<br />
                    E  - 数组和元组<br />
                    F  - 运算符和类型转换<br />
                    G  - 委托、lambda表达式和事件<br />
                    H  - 字符串和正则表达式<br />
                    I  - 集合<br />
                    J  - LINQ<br />
                    K  - 动态语言扩展<br />
                    L  - 异步编程<br />
                    M  - 内存管理和指针<br />
                    N  - 反射<br />
                    O  - 错误和异常
                </p>
            </blockquote>
            <p>
                LearnFoundation
            </p>
            <blockquote>
                <p>
                    A  - 任务、线程和同步<br />
                    B  - 安全性<br />
                    C  - 互操作<br />
                    D  - 文件和注册表操作<br />
                    E  - 网络<br />
                    F  - 本地化<br />
                    G  - XML处理<br />
                    H  - Dates, Times, and Time Zones<br />
                    I  - Serialization
                </p>
            </blockquote>
            <p>LearnThirdPartyPackage</p>
        </blockquote>
        <p>WpfCozy - WPF版c＃学习工程</p>
        <blockquote>
            <p>
                A - 核心WPF
            </p>
            <blockquote>
                <p>
                    ShapesDemo - 形状<br />
                    GeometryDemo - 几何图形<br />
                    TransformationDemo - 变换<br />
                    BrushesDemo - 画刷<br />
                    FrameDemo - 内容控件<br />
                    ExpanderDemo - 伸缩控件<br />
                    DecorationsDemo - 修饰<br />
                    LayoutDemo - 布局<br />
                    StylesAndResources - 样式和资源<br />
                    TriggerDemo - 触发器<br />
                    TemplateDemo - 模板<br />
                    AnimationDemo - 动画<br />
                    VisualStateDemo - 可见状态<br />
                    3DDemo - 3D
                </p>
            </blockquote>
            <p>
                B - 用WPF编写业务应用程序
            </p>
            <blockquote>
                <p>
                    BooksDemo - 菜单、功能区、命令、绑定<br />
                    XmlBindingDemo - XML绑定<br />
                    MultiBindingDemo - 多绑定<br />
                    PriorityBindingDemo - 优先绑定<br />
                    ValidationDemo - 绑定的验证和错误处理<br />
                    Formula1Demo - TreeView、DataGrid<br />
                    LiveShaping - 实时成型
                </p>
            </blockquote>
            <p>
                C - 用WPF创建文档
            </p>
            <blockquote>
                <p>
                    ShowFont<br />
                    TextEffectDemo<br />
                    FlowDocumentsDemo<br />
                    TableDemo<br />
                    CreateXps<br />
                    PrintingDemo
                </p>
            </blockquote>
        </blockquote>
    </blockquote>
    <p>
        Public - 公共代码目录
    </p>
    <blockquote>
        <p>
            CozyPublic - 暂未整理的公共代码<br />
            CozyPublic.WinApi - 调用windows api的包装
        </p>
    </blockquote>
    <p>
        Practice - 实践工程目录
    </p>
    <blockquote>
        <p>
            CozyDisplayFusion - 多显示器管理软件
        </p>
        <blockquote>
            <p>
                可以通过快捷键来控制应用程序窗口，实现将当前窗口移到另一个显示器并最大化等功能。
            </p>
        </blockquote>
        <p>CozyQuick - 快捷启动工具</p>
        <blockquote>
            <p>
                通过快捷键、命令行、鼠标手势、定时、监控等实现快捷的搜索、创建进程、切换窗口、计算md5、关闭显示器、查看天气、调节音量操作。
            </p>
            <p>
                CozyQuick.Exe - 主程序<br />
                CozyQuick.Engine - 调度引擎<br />
                CozyQuick.Interface - 接口定义<br />
                CozyQuick.Plugin.Timer - 定时支持插件<br />
                CozyQuick.Plugin.HotKey - 快捷键支持插件<br />
                CozyQuick.Plugin.Msgbox - 消息框功能插件<br />
                CozyQuick.Plugin.AudioPlayer - 声音提示功能插件
            </p>
        </blockquote>
        <p>
            CozySql - 数据库查看/查询工具
        </p>
        <blockquote>
            <p>
                CozySql.Exe - 主程序<br />
                CozySql.Model - ViewModel层<br />
                CozySql.Sqlite - Sqlite控制<br />
                CozySql.Mysql - Mysql控制<br />
                CozySql.Configure - 配置和记录
            </p>
        </blockquote>
    </blockquote>
</blockquote>
<h2>交流QQ群</h2>
<p><b>373862115</b></p>
<h2>玩法一览</h2>
<p>
    加QQ群交流<br />
    阅读别人的代码，改错和补充<br />
    认领未完成的部分，就是干<br />
    提出更好的玩法
</p>
<h2>配套条件</h2>
<p>
    vs2013sp4以上（推荐社区版）
</p>
<p>
    windows7以上（推荐win8.1）
</p>
<p>
    书籍：<br />
    zapline在用《C＃高级编程（第九版）》<br />
    <a href="http://item.jd.com/11611762.html">http://item.jd.com/11611762.html</a><br />
    网上可以找到英文完整版
</p>
<h2>编码风格</h2>
<p>
    4个空格缩进<br />
    大括号单独占一行<br />
    其它注意保持统一，开心就好
</p>
<h2>仓库地址</h2>
<p>
    OSC(国内丶快！）<br />
    <a href="http://git.oschina.net/zapline/cozy">http://git.oschina.net/zapline/cozy</a><br />
    github<br />
    <a href="https://github.com/zpublic/cozy">https://github.com/zpublic/cozy</a>
</p>
