@{
    ViewBag.Title = "联系方式";
}
<br />
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@
<br />
<address>
    zapline<br />
    <abbr title="QQ">QQ:</abbr>
    278998871
    <br />
    <abbr title="Phone">Tel:</abbr>
    18675610731
</address>
<br />
<address>
    <strong>zapline:</strong>
    <a href="mailto:278998871@qq.com">278998871@qq.com</a>
    <br />
    <strong>kingwl:</strong>
    <a href="mailto:805037171@163.com">805037171@163.com</a>
</address>