<ion-navbar *navbar>
  <ion-buttons start>
    <button (click)="onFavorite()">
       <ion-icon name="star"></ion-icon>
     </button>
  </ion-buttons>
  <ion-title>CozyRSS</ion-title>
  <ion-buttons end>
    <button>
       <ion-icon name="refresh"></ion-icon>
     </button>
  </ion-buttons>
</ion-navbar>
<ion-content>
  <ion-list>
    <div *ngFor="let item of rssList">
      <ion-item *ngIf="item.enable == true" (click)="itemSelected(item)">
        {{item.name}} - {{item.news}}
        <ion-icon name="{{item.icon}}" item-right></ion-icon>
      </ion-item>
      </div>
  </ion-list>
</ion-content>