@{
    Layout = "Layout.cshtml";
}
<header class="intro-header animated bounceInLeft" style="background-image: url('/Content/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1>@Model.a.Title</h1>
                    <h2 class="subheading">@Model.a.SubTitle</h2>
                    <span class="meta">Posted by @Model.a.CreateDate.ToString("yyyy-MM-dd")</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content -->
<article>
    <div class="container animated zoomIn">
        @Html.Raw(Model.html)
        <div id="disqus_thread"></div>
    </div>
</article>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'xyzmaxwebsite';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

