<div class="container">
    <h1>{{title}}</h1>
    <div class="row">
        <div class="col-md-3" style="background-color: #dedef8; box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>{{content1}}</p>
        </div>
        <div class="col-md-9" style="background-color: #dedef8;box-shadow:
         inset 1px -1px 1px #444, inset -1px 1px 1px #444;">
            <p>{{content2}}</p>
        </div>
    </div>

    <div id="chat-area">
        <h3 id="messages">hehe</h3>
        <form id="send-message" action="#">
            <input type="text" id="new-message" />
            <input type="submit" id="send" value="Send" class="send" />
        </form>
    </div>
</div>
