<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>我是母版页</h1>
    <div>
        @RenderBody()
    </div>
</body>
</html>
