@{
     ViewBag.Title = "What??";
}
<div>
    <ul id="org" style="display:none">
        <li>
            Food
            <ul>
                <li id="beer">Beer</li>
                <li>
                    Vegetables
                    <ul>
                        <li>Pumpkin</li>
                        <li>
                            <p>A link and paragraph is all we need.</p>
                        </li>
                    </ul>
                </li>
                <li class="fruit">
                    Fruit
                    <ul>
                        <li>
                            Apple
                            <ul>
                                <li>Granny Smith</li>
                            </ul>
                        </li>
                        <li>
                            Berries
                            <ul>
                                <li>Blueberry</li>
                                <li>Cucumber</li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>Bread</li>
                <li class="collapsed">
                    Chocolate
                    <ul>
                        <li>Topdeck</li>
                        <li>Reese's Cups</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>